/* .image{
   
    /* background-image: url(https://img.freepik.com/premium-psd/cloud-lightning-rain-isolated-blue-background-3d-rendering_47987-10696.jpg?w=740); */
/* background-size: 150px ; */
/* } */ 

.main{
    color:rgb(78, 146, 146);
    background-image: url(https://img.freepik.com/free-vector/night-sky-illustration-with-shiny-stars-snowfall-isolated_107791-5961.jpg?w=1380&t=st=1678830447~exp=1678831047~hmac=786dad6cbdeba14c91928d0a499e2825f8a85ba0d3a4a3b3c8084ba0e1fecb2b);
}

table th, td{
    color: rgb(255, 255, 255);
}
.humid, .wind{
    color: rgb(78, 146, 146);
}
.all{
    background-color:rgb(78, 146, 146) ;
}

.headline{
    color: rgb(255, 255, 255);
}